
@font-face {
  font-family: "poppins-regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-italic";
  src: url("./assets/fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "poppins-bold-italic";
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "poppins-regular", sans-serif;
  background-color: var(--off-white);
}

main {
  margin: 5rem 1rem 5rem 1rem;
}

.card {
  background-color: var(--white);
  border-radius: 15px 15px 100px 15px;
  padding: 2rem;
  max-width: 600px;
}

label {
  display: block;
}

.age-form {
  display: flex;
  gap: 1rem;
}

.input-wrapper {
  width: 33%;
}

.input-wrapper label {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: .8rem;
  font-weight: bold;
}

.input-wrapper > input {
  width: 100%;
  padding: .8rem;
  border-radius: 8px;
  border: solid 1px var(--light-grey);
  font-size: 23px;
  font-weight: bold;
}

img {
  border-radius: 999px;
  background-color: var(--purple);
  width: 60px;
  padding: 1rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.age-wrapper {
  display: flex;
}

.age-wrapper > p {
  font-family: "poppins-bold-italic", sans-serif;
  font-size: 3rem;
  margin: 0;
}

.age-wrapper > p:nth-child(1) {
  color: var(--purple);
  margin-right: 1rem;
}

.error {
  color: red;
  font-size: .8rem;
}

.input-error {
  border: 1px solid red !important;
}

@media (min-width: 650px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-wrapper {
    justify-content: flex-end;
    margin: 0;
  }

  .age-form {
    width: 75%;
  }

  .age-wrapper > p {
    font-size: 4rem;
  }

}